.banner{
  background-color: rgba(215,255,255,0.9);
  font-size: larger;
  text-align: center;
  margin-bottom: 10px;
  padding: 15px 10px;
}
.table-show{
  width: 100%;
  text-align: center;
  color: black;
  background-color: white;
}
tr:nth-child(even) {background-color: #f2f2f2;}

.buttonSym {
  background-color: green;
  color: white;
  border: 1px solid darkgreen;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
  box-shadow: none;
}

/*classes extra effects*/

.buttonSym:hover, .buttonSym:focus{
  background-color: darkgreen;
}
input {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: none;
  height: 30px;
}
input:focus{
  border-color: cornflowerblue;
}
.black-model {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(0,0,0,.9);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.central-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 1px solid green;
  padding: 10px;
  background: white;
  position: relative;
  min-width: 400px;
}
.form-item {
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.form-item > * {
  width: 100%;
}
.form-item > label {
  text-align: left;
}
.close-model {
  position: absolute;
  top: -3px;
  right: 5px;
  font-size: 20px;
  font-family: cursive;
  cursor: pointer;
}
.model-title {
  margin: 5px 5px 15px;
}
.close-model:hover {
  color: blue;
}
